<div
  id="home-container"
  class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 p-8 px-16 shadow-2xl rounded-[40px]"
>
  <h1 class="text-2xl font-bold mb-2">Hello, @{{currentuser}}!</h1>
  <p class="text-xl mb-6">Here are some posts made by our community!</p>
  {{#each posts as |post|}}
  <div class="mb-5">
    <a href="/api/posts/{{post.id}}">
      <div class="col-md-6">
        <h2>{{post.post_title}}</h2>
      </div>
      <div class="col-md-6">
        <h3>{{post.post_text}}</a></h3>
      </div>
    </a>
    </div>
  {{/each}}
</div>
<footer class="absolute bottom-2 left-2">
      <div class="container">
        <p>&copy; ChatJOG. All rights reserved.</p>
        <p>Created by Jake Roth, George Thomas, and Orlando Nelson </p>
      </div>

    </footer>
{{!-- <script>setTimeout(() => {console.log(currentuser.username)}, 10000)</script> --}}